* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  padding-top: 12rem;
  padding-bottom: 2rem;
  font-weight: 700;
}

h3 {
  padding-top: 6rem;
  padding-bottom: 2rem;
  font-weight: 500;
}

body, html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  font-family: "Roboto Mono", sans-serif;
}

header {
  height: 100%;
}

li {
  float: left;
  display: inline;
}

ul {
  width: 100%;
  display: inline-block;
  padding-left: 5rem;
}

ul li a {
  display: block;
  padding: 1rem;
  width: 100%;
  text-decoration: none;
  font-weight: 500;
}

.background-image {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.button {
  border-radius: 5px;
  margin: 0.4rem;
}

.button a {
  padding: 0.8rem;
  color: #FFFFFF;
  display: block;
  font-weight: 500;
  text-decoration: none;
}

.button a:hover {
  border-radius: 5px;
}

.buttons {
  text-align: center;
}

.container {
  margin: 0 20%;
}

.footer {
  margin-top: 2rem;
}

.footer li a {
  color: #DC143C;
  font-weight: 700;
}

.install {
  background-color: #FF7700;
}

.install a:hover {
  color: #FF7700;
  background-color: #FFFFFF;
}

.learn-more {
  background-color: #3884ff;
}

.learn-more a:hover {
  color: #3884ff;
  background-color: #FFFFFF;
}

.nav {
  position: fixed;
  background-color: #DC143C;
}

.nav li a {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
}

.nav li a:hover {
  background-color: #FF1947;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.info p {
  padding: 0.2rem;
}

.intro {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.intro p {
  padding-right: 4rem;
}
